
h1 {
    border-top: 5px solid red;
  }
  
  h2 {
    border-top: 4px dotted blue;
  }
  
  div {
    border-top: double;
  }
  

.contact-info div {
    width: 410px;
    display: inline-block;
    vertical-align: top;
    text-align: left;
    margin: 30px 0 0 60px;
    color: white;
  }



.box {
  height: 300px;
  width: 500px;
  padding: 20px;
  margin: 50px;
  border: 10px solid black;
}